body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(71, 67, 67);
  margin: 0;
}
* {
  color: #d8cbcb;
}

.container {
  width: 80%;
  max-width: 600px;
  background-image: url(images/banner2.jpg);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
  color: black;
  width: 80%;
  padding: 10px auto;
  margin: 20px 20px 20px 10px;
  border: 12px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

button {
  display: block;
  width: 50%;
  padding: 10px;
  margin: auto;
  background-color: #36470d;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(136, 98, 29);
  transition: 1s;
}

#output {
  height: 300px;
}
